.wrapper {
  padding: 16px;
  max-width: 350px;
  margin: 0 auto;
  background: #1e1e1e;
  color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.input {
  width: 100%;
  padding: 10px;
  background: #2b2b2b;
  border: 1px solid #444;
  border-radius: 8px;
  color: white;
  font-size: 16px;
}
.label {
  font-size: 0.95rem;
  font-weight: 600;
  display: block;
  color: #f2f2f2;
}
.input:focus {
  border-color: #4a90e2;
  outline: none;
}

.resultBox {
  background: #2b2b2b;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
}
.resetButton {
  padding: 10px;
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.error{
  color: #e74c3c;
  font-size: 14px;
  text-align: center;
}
.footer {
  font-size: 12px;
  text-align: center;
  color: #888;
}
/* Wrapper for floating input */
.inputGroup {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

/* Input field */
.inputFloating {
  width: 100%;
  padding: 14px 12px 6px;
  font-size: 1rem;
  border: 2px solid #444;
  background: #222;
  border-radius: 8px;
  outline: none;
  color: #fff;
  transition: border 0.3s ease;
}

.inputFloating:focus {
  border-color: #8ed8a6; /* акцента ти */
}

/* Floating label */
.floatingLabel {
  position: absolute;
  left: 12px;
  top: 14px;
  color: #aaa;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.2s ease;
}

/* Move label up when focused or when there is value */
.inputFloating:focus + .floatingLabel,
.inputFloating:not(:placeholder-shown) + .floatingLabel {
  top: -8px;
  left: 10px;
  font-size: 0.75rem;
  background: #1e1e1e;
  padding: 0 4px;
  color: #8ed8a6;
  border: 2px solid #444;

}
